[defaults]
inventory = inventory/production.ini
remote_user = opc
host_key_checking = false

[ssh_connection]
ssh_args = -o ProxyCommand="cloudflared access ssh --hostname %h --id $CF_ACCESS_CLIENT_ID --secret $CF_ACCESS_CLIENT_SECRET"
